<section class="slide-{{ slideIndex }}" data-markdown {% block section_attributes %}{% endblock %}>
    <script type="text/template">
        {% block content %}{% endblock %}
    </script>
</section>